*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  font-family: "Roboto";
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.container{
    margin:0 auto;
    width: 1200px;
    height: 124vh;
 
}

.top-container{
    background-color:#1F2937;
    height: 380px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    margin-bottom:30px;
}


.right-links{
    color: #F9FAF8;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0px;
    margin-bottom: 70px;
    
}

nav > a {
    font-size: 20px;
    font-weight: 800;
    color:#F9FAF8;
   
    
}

nav > ul {
    display: flex;
    align-items: center;
    gap:10px;
}


.mid-container{
    display: flex;
    gap:30px;
    color: #F9FAF8;
}

.welcoming {
    display: flex;
    flex-direction: column;
    gap:8px;
}

.mid-container h2 {
    font-weight: 900;
    font-size:30px;
    margin-bottom: 10px;
}

.mid-container p {
    font-size: 16px;
    font-weight: 300;
}

.mid-container img{
border-radius: 20px;
}

.mid-container a {
    display: inline-block;
    width: 180px;
    padding:12px 0px;
    margin-top: 12px;
    color: #F9FAF8;
    font-weight: 600;
    background-color: #5aa9c4;
    text-align: center;
    border-radius: 8px;
    
}

.concept-title{
    text-align: center;
    font-weight: 600;
    color: #1F2937;
    font-size:30px;
    margin-bottom:30px;
}

.concepts{
    display: flex;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom:60px;
 
    
}

.concept-items{
    display: flex;
    gap:35px;
    
}

.concept-items img{
    border-radius: 16px;
    border: 4px solid #353438;

}

.item-container{
    text-align: center;
    width: 150px;
    
}

.item-container p{
    color: #1F2937;
    font-weight: 500;
    
}

.item-container span{
    display: inline-block;
    font-weight: 800;
    color:#1F2937;
    margin-bottom: 5px;
    font-size:18px;
}

.quote{
    padding:75px 160px;
    width: 100%;
    height: 300px;
    background-color:#ececec;
    margin-bottom:60px;
}

.quote p {
    font-size:34px;
    font-weight: 100;
    color: #1F2937;
}

.quote span{
    font-weight: 800;
    color: #1F2937;
    font-size:24px;
    display: inline-block;
    margin-left:666px;
    position: relative;
    top: -25px;
}

.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    margin:0 auto;
    background-color: #5aa9c4;
    height: 100px;
    width: 800px;
    padding:30px 80px;
    border-radius: 10px;
    margin-bottom:60px;
}

.action span{
    display: inline-block;
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 4px;
}

.action a {
    padding:7px 25px;
    border:2px solid #F9FAF8;
    border-radius: 6px;
    font-weight: 600;
    color: #F9FAF8;
}

.footer {
    width: 100%;
    height: 60px;
    background-color:#1F2937;
    display: flex;
    align-items: center;
    color: aliceblue;
    font-weight: 600;
    padding: 20px 50px;

}

.footer p {
    margin-right: 300px;
    margin-left: 430px;
}

.footer .icons{
    display: flex;
    justify-content: center;
    gap:16px;
    align-items: center;
    position: relative;
    left: 50px;
    
}











